process{
    executor = 'local'
}

docker {
    enabled = true
}

params {
    input = 'samplesheet.csv'
    output = '/ColoMini_results'
    genome = 'GRCh37_hmf'
    mode = 'wgts'
    max_fastq_records = 0
    // genomes {
    //     GRCh37_hmf {
    //         fasta           = "<insert_path>"
    //         fai             = "<insert_path>"
    //         dict            = "<insert_path>"
    //         // bwamem2_index   = "<insert_path>"
    //         // gridss_index    = "<insert_path>"
    //         // star_index      = "<insert_path>"
    //     }
    //     GRCh38_hmf {
    //         fasta           = "<insert_path>"
    //         fai             = "<insert_path>"
    //         dict            = "<insert_path>"
    //         // bwamem2_index   = "<insert_path>"
    //         // gridss_index    = "<insert_path>"
    //         // star_index      = "<insert_path>"
    //     }
    // }
 
    // ref_data_hmf_data_path        = "<insert_path>"
    // ref_data_panel_data_path      = "<insert_path>"
    // ref_data_virusbreakenddb_path = "<insert_path>"
}

// workDir = '/workDir'

