// This is a nextflow config file - it tells your pipeline which 
// settings to take into account when running.

// Other relevant parameters will be defined

// Set the work directory
workDir = "~/OA_Workshop/Hello_World/workDir"

// Set the location for the .nextflow.log file
trace {
    enabled = true
    file = "~/OA_Workshop/Hello_World/.nextflow.log"
}

// Set the output directory for process results
params.outdir = "/path/to/your/output/directory"

// Process-specific configurations - tells the pipeline 
// to run locally & where to save the output
process {
    executor = 'local'
    publishDir = [
        path: { "${params.outdir}/${task.process}" },
        mode: 'copy'
]
}

// Capture execution reports
report.enabled = true
report.file = "${params.outdir}/pipeline_info/execution_report.html"

// Capture execution timeline
timeline.enabled = true
timeline.file = "${params.outdir}/pipeline_info/execution_timeline.html"

// Capture execution dag
dag.enabled = true
dag.file = "${params.outdir}/pipeline_info/execution_dag.html"

