// // This is a nextflow config file - it tells your pipeline which 
// // settings to take into account when running.

// // Other relevant parameters will be defined

// // Set the work directory
workDir = "./workDir"

// // Set the location for the .nextflow.log file

// // Set the output directory for process results
params{
    outdir = "./output"
}
// // Process-specific configurations - tells the pipeline 
// // to run locally & where to save the output
// process {
//     executor = 'local'
//     publishDir = [
//         path: { "${params.outdir}/${task.process}" },
//         mode: 'copy'
//         ]
// }